body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

.MenuTop{
	height: 150px;
	width: 100%;
	background-color: #112737;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}
.ClimateMenu{
	display: flex;
	height: 50px;
	flex-wrap: wrap;
	color:#fff;
	align-items: center;
}
.cL{
	font-size: 30px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}
.atualL{
	margin-top: -15px;
}
.menuLeft{

}
.linhaMenu{
	height: 3px;
	width: 40px;
	background-color: #fff;
	margin-top: 8px;
	margin-bottom: 8px;
}
.SubMenu{
	height: 30px;
	width: 100%;
	background-color: #f3f3f3;
	display: flex;
	justify-content: flex-end;
}
.redeSL{
	height: 30px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: space-around; 
	font-size: 12px;
	color: #c7c7c7;
	padding-right: 20px;
}
.classIndex{
	margin-top: -30px;
	margin-left: 10px;
	font-size: 18px;
	color: #fff;
}

/*---- index.php -----------------------------*/
.BannerIndex{
	height: 400px;
	background-size: cover;
}
.vermais{
	height: 40px;
	width: 100px;
	border: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ccc;
	cursor: pointer;
}
.degradeBannerIndex{
	width: 100%;
	height: 100%;
	background: rgb(77, 77, 77);
	background: linear-gradient(180deg, rgba(77,77,77,0) 0%, rgba(24,24,24,1) 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
}
.generoBannerIndex span{
	background-color: yellow;
	padding: 4px;
	font-weight: bold;
	color: #4d4d4d;
}
.titleBannerIndex{
	font-size: 30px;
	font-weight: bolder;
	color: #fff;
	margin-top: 20px;
	max-width: 600px;
}

.porBannerIndex{
	color: #ccc;
	margin-top: 20px;
}

.maisVisualizado{
	height: 610;
	margin-top: 20px;
}
.visualizadoMiniBanner{
	height: 300px;
	background-position: center;
	background-size: cover;
}
.degradeMiniBanner{
	width: 100%;
	height: 100%;
	background: rgb(77, 77, 77);
	background: linear-gradient(180deg, rgba(77,77,77,0) 0%, rgba(24,24,24,1) 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
}
.titleMiniBanner{
	font-size: 18px;
	max-width: 500px;
	color: #fff;
	margin-top: 20px;
}
.visuMiniBanner{
	display:flex;
	align-items: center;
	color: #fff;
}
.visuDiv{
	margin-top: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.visuDivImg{
	width: 100%;
	height: 150px; 
	background-position: center;
	background-size: cover;
}
.titleDiv{
	font-weight: bold;
	margin-top: 10px;
}
.porDiv{
	font-size: 12px;
	margin-top: 10px;
}
.generoDiv span{
	background-color: yellow;
	padding: 4px;
	color: #4d4d4d;
	margin-top: 10px;
}
.visuDiv{
	color: #4d4d4d;
}
.addRecente{
	height: 300px;
	background-size: cover;
	background-position: center;
	margin-top: 20px;
}
.degradeAddRecente{
	width: 100%;
	height: 100%;
	background: rgb(77, 77, 77);
	background: linear-gradient(180deg, rgba(77,77,77,0) 0%, rgba(24,24,24,1) 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
}
.generoAddRecente span{
	background-color: yellow;
	padding: 4px;
	color: #4d4d4d;
	font-weight: bold;
}
.titleAddRecente{
	color: #fff;
	font-size: 18px;
	max-width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.NoticiaAddRecente{
	margin-bottom: 10px;
	border-bottom:1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-bottom: 10px;
}
.IMGAddRecente{
	height: 100px;
	min-width: 200px;
	background-size: cover;
	background-position: center;
}
.titleAdd{
	color: #000;
	margin-bottom: 10px;
}
.NoticiaAddRecente .vermais{
	margin-top: 10px;
	color: #4d4d4d;
}
.bottomAdd{
	display: flex;
	justify-content: space-around; 
	align-items: center;
	margin-bottom: 10px;
}
.row h5{
	margin-left: 150px;
}
.todasAsNot{
	overflow: auto;
	border-top: 1px solid #ccc;
	height: 800px; 
}
.AllDiv{
	height: 200px;
	margin-top: 10px;
}
.AllDivImg{
	height: 200px;
	min-width: 200px;
	background-size: cover;
	background-position: center;
}

.titleAllDiv{
	font-size: 25px;
	max-width: 600px;
	color: #fff;
}
/* noticia.php ---------------------------------------*/

.localN{
	margin-top: 50px;
	margin-left: 50px;
	color: #c5c5c5;
}
.titleN{
	width: 100%;
	margin-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 40px;
	font-weight: 700;
}
.notiAbN{
	width: 100%;
	padding-left: 50px;
	margin-top: 20px;
	font-size: 18px;
	padding-right: 50px;
}
.porN{
	height: 50px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 50px;
	margin-top: 20px;

	color: #4d4d4d;
	justify-content: space-between;
	padding-right: 50px;
}
.autorN{
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 600;
}
.dateN{
	font-size: 12px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}
.notN{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.imgN{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.noticiaN{
	margin-top: 50px;
	width: 80%;
	font-size: 20px;

}
/*RODAPÉ --------------------------------------------------*/
.footer{
	height: 300px;
	background-color: #112737;
	width: 100%;
	margin-top: 50px;
}
.Ftop{
	height: 100px;
	background: rgb(77, 77, 77);
	background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(24,24,24,1) 100%);
	width: 100%;
	display: flex;
	padding-left: 50px;
	padding-right: 50px;
	align-items: center;
	justify-content: space-around;

}
.Fcenter{
	height: 150px;
	width: 100%;
	background-color:#112737;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Fbottom{
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(77, 77, 77);
	background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(24,24,24,1) 100%);
	font-size: 13px;
	color: #ccc;
}
.SubFtop{
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #ccc;
}
.divi{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.divi a{
	color: #ccc;
}


