body{
	font-family: 'Roboto', sans-serif;
}
/*
.menuL{
	height: 150px;
	width: 100%;
}
.loginL{
	height: 50px;
	width: 100%;
	background-color: #334558;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.arealoginL{
	height: 50px;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.assL{
	padding-right: 20px;
	margin-right: 20px;
	border-right:2px solid #fff;
	font-size: 18px;
	color: #fff;
}
.LL{
	color: #fff;
}

.logoL{
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	padding-left: 47px;
}
.searshL{
	display: flex;
	justify-content: space-between;
	height: 30px;
	background-color: #f3f3f3;
}
.s1L{
	height: 30px;
	width: 300px;
	display: flex;
	align-items: center;
}
.redeSL{
	height: 30px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: space-around; 
	font-size: 12px;
	color: #ccc;
	padding-right: 20px;
}
.tempL{
	display: flex;
	height: 50px;
	width: 150px;
	flex-wrap: wrap;
	color:#4d4d4d;
	align-items: center;
}
.tmL{
	margin-right: 10px;
}
.cL{
	font-size: 30px;
	font-weight: 600;
}
.atualL{
	margin-top: -15px;
}
*/

.MenuTop{
	height: 150px;
	width: 100%;
	background-color: #112737;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}
.ClimateMenu{
	display: flex;
	height: 50px;
	flex-wrap: wrap;
	color:#fff;
	align-items: center;
}
.cL{
	font-size: 30px;
	font-weight: 600;
}
.atualL{
	margin-top: -15px;
}
.menuLeft{

}
.linhaMenu{
	height: 3px;
	width: 40px;
	background-color: #fff;
	margin-top: 8px;
	margin-bottom: 8px;
}
.SubMenu{
	height: 30px;
	width: 100%;
	background-color: #f3f3f3;
	display: flex;
	justify-content: flex-end;
}
.redeSL{
	height: 30px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: space-around; 
	font-size: 12px;
	color: #c7c7c7;
	padding-right: 20px;
}
.classIndex{
	margin-top: -30px;
	margin-left: 10px;
	font-size: 18px;
	color: #fff;

}

/*---- index.php -----------------------------*/


a .bannerI{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #ccc;
	margin-bottom: 50px;
	padding-bottom: 20px;
	color: #4d4d4d;
}
a .imgBanner{
	height: 350px;
	width: 100%;
	background-color: blue;
}
a .titleBanner{
	width: 100%;
	font-size: 25px;
	font-weight: 600;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}
a .listBanner{
	margin-top: 10px;
	padding-left: 20px;
}

a .container{
	background-color: red;
	height: 100px;
}
.IndexJ{
	display: flex;
	flex-wrap: wrap;
}
.IndJ{
	height: 200px;
	max-width: 800px;

	margin-top: 10px;
	margin-left: 10px;
	display: flex;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-bottom: 30px;
}
.noticiaIndex{
	color: #4d4d4d;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.titleIndexN{
	font-size: 18px;
	font-weight: 600;
	padding-right: 10px;
}
.resumoIndexN{
	font-size: 14px;
	margin-top: 10px;
	padding-right: 10px;
}
.autorIndexN{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding-right: 10px;

}

/* noticia.php ---------------------------------------*/

.localN{
	margin-top: 50px;
	margin-left: 50px;
	color: #c5c5c5;
}
.titleN{
	width: 100%;
	margin-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 40px;
	font-weight: 700;
}
.notiAbN{
	width: 100%;
	padding-left: 50px;
	margin-top: 20px;
	font-size: 18px;
	padding-right: 50px;
}
.porN{
	height: 50px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 50px;
	margin-top: 20px;

	color: #4d4d4d;
	justify-content: space-between;
	padding-right: 50px;
}
.autorN{
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 600;
}
.dateN{
	font-size: 12px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
}
.notN{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.imgN{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.noticiaN{
	margin-top: 50px;
	width: 80%;
	font-size: 20px;

}