.menuL{
	height: 150px;
	width: 100%;
}
.loginL{
	height: 50px;
	width: 100%;
	background-color: yellow;
	display: flex;
	justify-content: flex-end;
}
.arealoginL{
	height: 50px;
	width: 250px;
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: center;
}
.assL{
	padding-right: 20px;
	margin-right: 20px;
	border-right:2px solid #000;
	font-size: 18px;
}
.logoL{
	height: 80px;
	width: 100%;
	background-color: #ccc;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
}
.searshL{
	display: flex;
	justify-content: space-between;
	height: 30px;

	background-color: purple;
}
.s1L{
	height: 30px;
	width: 300px;
	display: flex;
	align-items: center;
}
.redeSL{
	height: 30px;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content:center; 
	background-color: red;
	font-size: 12px;
	color: #ccc;
}
input .buscL{
	height: 30px;
}